<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table style="width:100%">
    <tr>
        <th>N</th>
        <th>Xo</th>
        <th>(aXo + c) mod</th>
        <th>m</th>
        <th>Xn + 1</th>
        <th>Numero Rectangular</th>
        <th>Random</th>
    </tr>
    <tr>
        <td>i</td>
        <td>xo</td>
        <td>div</td>
        <td>mod</td>
        <td>m</td>
        <td>nr</td>
        <td>random</td>

    </tr>

</table>
<table>

</table>

<table>
    {% csrf_token %}
    <h5>La prueba de chi cuadrado es = {{ chi2 }}, p-value = {{ p }}, df = {{ dof }}</h5>

    <tr>
    <tr>1</tr>

    <td> {{ matrizNueva }}</td>
    <td> {{ matriz }}</td>
    <td> {{ div }}</td>

    <td>
    </td>

    </tr>

</table>
</body>
</html>